/* NYPL HOMEPAGE COLOR PALETTE
 * ---------------------------
 * For reference, go to https://bitbucket.org/NYPL/dgx-ethyl-style-guide
 * and set up the Ethyl Style Guide application.
*/

/* NYPL Primary Red*/
$PRIMARY_COLOR: #E32B31 !default;
$SECONDARY_RED_COLOR: #B80F15 !default;

/* Coolgray*/
$COOLGRAY_COLOR: #A3A19E !default;

$SECONDARY_UI_COLOR: #1B7FA7;
$BLACK_COLOR: #000000;
$WHITE_COLOR: #FFFFFF;
$CHARCOAL: #333333;

/* Blogs */
$BLOGS_DARK_COLOR: #BB1D12;

/* Reusable Utility Color Classes for Fonts/Background Color */

// Background Color Classes
.bgPrimaryLibraryRed {
  background-color: $PRIMARY_COLOR;
}

.bgSecondaryLibraryRed {
  background-color: $SECONDARY_RED_COLOR;
}
