{
  "env": {
    "browser": true,
    "node": true
  },

  "globals": {
    "React": true
  },

  "ecmaFeatures": {
    "jsx": true
  },

  "indent": ["error", 2],

  "plugins": [
    "react"
  ],

  "extends": "airbnb",
}
