/*
 * Used to render authorCard on listing blogs page 
 */
.authorCard {

  &-profilePic {
    border-radius: 50%;
  }
}

/*
 * Used to render authorCard on single blog page 
 */
 .authorCardFooter {

  @include layout-at(9, $landscape) {
    @include grid-span(4, 4);
    margin-right: 0;
    margin-top: 80px;
    margin-bottom: 80px;
    border: 2px solid $COOLGRAY_COLOR;
    padding: 10px;
  }

  &-profilePic {
    @extend .authorCard-profilePic;
    float: left;
    margin-right: 20px;
  }

  &-name {
    float: left;
  }
}