.backToLink {
  text-transform: uppercase;
  color: $COOLGRAY_COLOR; 
  font-size: 14px;
  margin-top: 24px;
  text-decoration: none;
  text-align: right;

  .nypl-icon-wedge-left {
    font-size: 18px;
    top: 3px;
    right: -4px;
    position: relative;   
  }
}
