.blogContent {
  @include Milo-Regular;
  font-size: 18px;
  line-height: 26px;
  padding: 0 40px;

  &-title {
    @include Milo-Light;
    font-weight: 400;
    font-size: 42px;
    margin: 40px 0 47px 0;
  }

  &-author {
    @include Kievit-Regular;
    margin-bottom: 60px;

    & > b {
      font-weight: 600;
    }
  }

  @include layout-at(9, $landscape) {
    @include grid-span(4, 4);
    margin-top: -100px;
    z-index: 10000;
    background: white;
    min-height: 500px;
    position: relative;
  }
}