//BlogsWrapper, basic grid for blogs

.blogsWrapper {
	
	@include add-grid(3);

	//TODO use variables for breakpoints
	@include layout-at(9, '1024px') {
		background: red;

		.sidebar {

			@include grid-span(1);

			&-title {
				text-align: right;
			}

      &-link {
        display: block;
        text-align: right;
      }
		}

		.blogsList {

			@include grid-span(6, 2);
			list-style: none;
		}
	}
}