/* @todo rename this file */
.blog {

  @include Milo-Regular;
  font-size: 18px;
  line-height: 26px;

  &-date {
    @include Kievit-Regular;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 0 20px;   

    &:nth-child(even) {
      @include visuallyHidden;
    }
  }

  &-title {
    @include Milo-Light;
    font-weight: 400;
    font-size: 30px;
    margin: 20px 0 10px 0;
    line-height: 1em;
    padding: 0 20px;
  }

  &-author {
    @include Kievit-Regular;
    padding: 0 20px;
    
    & > b {
      font-weight: 600;
    }
  }

  &-mainPicture {
    width: 100%;
  }

  &-bodyText {
    padding: 0 20px;
    margin-top: 0;
    word-wrap: break-word;

    a {
      color: $COOLGRAY_COLOR;
    }

    /* replicating clases to make the blog post looking as in the admin panel */
    .inline-right {
      float: right;
      margin: 24px;
    }

    .inline-left {
      float: left;
      margin: 24px;
    }

    & > h2 {
      clear: left;
    }

    figure.caption {
      text-align: center;

      figcaption {
        font-style: italic;
      }
    }
  }

  @include layout-at(7, $portrait) {
    @extend %clearfix;
    @include grid-span(5, 2);
    padding: 0;
    margin-right: 0;
    margin-top: -40px;
    z-index: 10;
    background: white;
    min-height: 500px;
    position: relative;

    &-date {
      margin: 0;
      margin-bottom: 30px;
      font-size: 14px;
    
      &:nth-child(odd) {
        @include visuallyHidden;
      }

      &:nth-child(even) {
        @include displayVisuallyHidden;
      }
    }

    &-title {
      margin: 14px 0 27px 0;
    }

    &-author {
      margin-bottom: 0;
    }
  }

  @include layout-at(9, $landscape) { 
    @include grid-span(5, 3);
    margin-top: -60px;
    margin-right: 0;
  }

  @include layout-at(9, $desktop) {
    @include grid-span(5, 3);
    margin-right: 0;  
    margin-top: -100px;

    &-date {
      margin-bottom: 40px;
      font-size: 16px;
    }
    
    &-title {
      margin: 20px 0 47px 0;
      font-size: 48px;
    }
  }
}
