/* @todo update className to fit component name */
.blogTagsSidebar {
  @include visuallyHidden;
	
	&-list {
		list-style: none;
    padding: 0;
    margin-top: 120px;
	}

  @include layout-at(9, $landscape) {
    @include displayVisuallyHidden;
    @include grid-span(2, 2);
    text-align: right;
    margin-top: 16px;

    .tagLink {
      text-transform: uppercase;
      color: $SECONDARY_UI_COLOR;
      font-size: 13px;
    }

    & li {
      padding: 5px 0;
    }
  }
}
