.blogSubjects {
  order: 5;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 50px;

	&-list {
		list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1.5;
	}

  & li {
    margin: 10px;
    display: inline;
  }

  .tagLink {
    text-transform: uppercase;
    color: $SECONDARY_UI_COLOR;
    font-size: 13px;
    text-decoration: none;
    margin-left: 4px;

    .svgIcon {
      fill: $SECONDARY_UI_COLOR;
    }
  }

  @include layout-at(7, $portrait) {

    @include grid-span(1);
    text-align: right;

    & li {
      padding: 5px 0;
      display: block;
      margin: 0;
    }

    .tagLink {
      text-decoration: underline;

      .svgIcon {
        @include visuallyHidden;
      }
    }

    &-list {
      text-align: right;
      margin-top: 120px;
    }
  }

  @include layout-at(9, $landscape) {

    @include grid-span(1, 2);
    margin-top: 16px;
  }

  @include layout-at(9, $desktop) {
    
    @include grid-span(2, 2); 
  }
}
