//BlogListing

.blogListing {

  @include grid-span(5, 2);

  padding-bottom: 80px;

  &-title {
  	@include Milo-Light;
  	font-weight: 400;
    font-size: 30px;
    color: $BLACK_COLOR;
    text-decoration: none;
  }


  &-image {
    float: left;
    margin-right: 22px;
  }

  &-paragraph {
    line-height: 1.5;
  }

  &-series {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0;
  }
}