.blogListing {
  @include grid-span(4);
  @include add-grid(5);
  padding-bottom: 40px;
  margin-top: 20px;

  &-title {
    @include grid-span(4, 2);
  	@include Milo-Light;
    margin-top: 0;

    & > a {
      font-weight: 400;
      font-size: 30px;
      color: $BLACK_COLOR;
      text-decoration: none;
    }
  }

  &-image {
    @include grid-span(1);
    float: none;
  }

  &-paragraph {
    @include visuallyHidden;
  }

  &-fullWidthParagraph {
    @extend .blogListing-paragraph;
  }

  &-series {
    @include grid-span(3, 3);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  @include layout-at(6, $landscape) {
    @include grid-span(5, 2);
    padding-bottom: 80px;  

    &-series {
      @include grid-span(6);
    }

    &-title {
      @include grid-span(6);

    }

    &-paragraph {
      @include displayVisuallyHidden;
      @include grid-span(4, 3);
      line-height: 1.5;
      clear: right;
    }

    &-fullWidthParagraph {
      @include grid-span(6);
    }

    &-image {
      @include grid-span(2);
      clear: both;
    }
  }
}