.blogTagsSidebar {
	
	&-list {
		list-style: none;
    padding: 0;
    margin-top: 120px;
	}

  @include layout-at(9, '1024px') {
    @include grid-span(2, 2);
    text-align: right;
    margin-top: 16px;

    .backToLink {
      text-transform: uppercase;
      color: $COOLGRAY_COLOR;
      font-size: 12px;
      text-decoration: none;
    }

    .tagLink {
      text-transform: uppercase;
      color: $SECONDARY_UI_COLOR;
      font-size: 13px;
    }

    & li {
      padding: 5px 0;
    }
  }
}