.blogRow {
  @extend %clearfix;
  @include add-grid(5);
  border-top: 2px solid $COOLGRAY_COLOR;
  margin: 0 18px;

  &-leftSidebar {

    &-date {
      //@include grid-span(1, 5);
      font-size: 16px;
      color: $COOLGRAY_COLOR;
      margin-top: 13px;
      line-height: 1.6;
    }
  }

  .tagLink {
    text-transform: uppercase;
    text-decoration: none;
    color: $SECONDARY_UI_COLOR;
    background-color: $WHITE_COLOR;
    font-size: 12px;

    .svgIcon {
      fill: $SECONDARY_UI_COLOR;
      position: relative;
      top: 4px;
    }
  }

  @include layout-at(7, $portrait) {

    &-leftSidebar {
      @include grid-span(1);
      @include add-grid(1);

      &-date {
        @include grid-span(1);
      }
    }
  }

  @include layout-at(7, $landscape) {

    &-leftSidebar {
      @include displayVisuallyHidden;
      @include grid-span(1);

      & ul {
        @include displayVisuallyHidden;
      }

      &-date {
        margin-top: 17px;
        float: none;
        width: auto;
      }
    }
  }

  @include layout-at(7, $desktop) {

  }
}
