/*
 * Used to render authorCard on single blog page 
 */
.blogAuthorCard {
  @extend %clearfix;
  @include add-grid(12);
  margin: 60px 18px;
  border: 2px solid $COOLGRAY_COLOR;
  padding: 10px;
  padding-bottom: 20px;

  &-profilePicWrap {
    @include grid-span(3);
    text-align: center;

    &-picture {
      border-radius: 50%;
      max-width: 100px;
      margin-top: 24px;
      height: 80px;
      fill: $COOLGRAY_COLOR;
    }

    &-picture.svgIcon {
      width: 100%;
    }
  }

  &-name {
    @include grid-span(9, 4);
    margin-top: 58px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-right: 0;
    cursor: pointer;
  }

  &-title {
    @include grid-span(8, 4);
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .authorLink {
    @include grid-span(9, 4);
    color: $COOLGRAY_COLOR;
    margin-right: 0;
    cursor: pointer;
  }

  @include layout-at(7, $portrait) {
    @include grid-span(5, 2);

    margin-top: 60px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    &-profilePic {
      @extend .blogAuthorCard-profilePic;
      float: left;
      margin-right: 20px;
    }
  }

  @include layout-at(9, $landscape) {
    
    @include grid-span(5, 3);
    margin-right: 0;
  }

  @include layout-at(24, $desktop) {

    @include grid-span(13, 5);
    margin-right: 0;
  }
}
