/*
 * Used to render authorCard on listing blogs page 
 */
.blogAuthor {
  @extend %clearfix;
  @include add-grid(5);

  &-profilePicWrap {
    display: inline;
    
    &-picture {
      border-radius: 50%;
      height: 48px;
      width: 48px;
      margin-top: 10px;
      fill: $COOLGRAY_COLOR;
    }
  }

  &-name {
    @include grid-span(3, 2);
    @include Kievit-Medium;
    font-weight: 400;
    /* override left margin because author profile picture fixed width */
    margin-left: 65px;
    margin-top: 12px;
    font-size: 18px;
    letter-spacing: .03em;

    &-link {
      color: black;
      text-decoration: none;
    }
  }

  &-title {
    @include grid-span(3, 2);
    /* override left margin because author profile picture fixed width */
    margin-left: 65px;
    margin-top: 35px;
    font-size: 16px;
  } 

  @include layout-at(1, $portrait) {
    @include grid-span(1);

    &-profilePicWrap {
      @include grid-span(1);

      &-picture {
        height: 60px;
        width: 60px;
      }
    }

    &-name {
      @include grid-span(1);
      margin-right: 0;
      font-weight: normal;
    }

    &-title {
      @include visuallyHidden;
    }
  }

  @include layout-at(1, $landscape) {

    &-name {
      @include grid-span(1);
      clear: both;
      font-size: 17px;
      
      &-name {
        margin-bottom: 10px;
      }
    }

    &-title {
      @include grid-span(1);
      margin-top: 0;
      font-size: 14px;
      margin-bottom: 0;
    }

    &-name, &-title {
      word-wrap: break-word;
    } 

    &-profilePicWrap-picture {
      height: 80px;
      width: 80px;
    }  
  }

  @include layout-at(1, $desktop) {

    &-name {
      font-size: 18px;
    }
  }
}
