.blogsWrapper {
  
  @include add-grid(3);

  .content {
    @extend %clearfix;
    max-width: 1312px;
    margin: auto;

    .sidebar {
      @include visuallyHidden;
    }
  }


  .blogsList {
    list-style: none;
    padding: 0;
  }

  @include layout-at(9, $landscape) {

    .content {
      @include grid-span(7, 2);
      @include add-grid(7);

      .blogsList {

        @include grid-span(7);
        @include add-grid(6);
      }


    }
  }

  @include layout-at(9, $desktop) {
    
    .content {

      .sidebar {
        @include displayVisuallyHidden;
        @include grid-span(1);
        border-top: 2px solid $CHARCOAL;
        margin-top: 16px;
        color: $CHARCOAL;

        &-title {
          text-align: right;
        }
        
        &-link {
          display: block;
          text-align: right;
          color: $CHARCOAL;
          text-decoration: none;
          padding: 5px 0;
        }
      }

      .blogsList {

        @include grid-span(8,2);
        @include add-grid(8);
      }
    }
  }
}