.hero {

  @extend %clearfix;  
  background: $BLOGS_DARK_COLOR;
  height: 100px;

  &-content {
    width: 100%;
    color: $WHITE_COLOR;

    &-picture {
      @include visuallyHidden;
    }

    &-texts {
      padding-left: 20px;

      &-serie, &-description, &-seriesCount {
        @include visuallyHidden;
      }

      &-title {
        @include Kievit-Regular;
        text-transform: capitalize;
        font-size: 28px;
        margin-top: 35px;

        .nypl-icon-wedge-down {
          @include visuallyHidden;
          font-weight: bold;
        }
      }
    }
  }

  @include layout-at(9, $portrait) {

  }
  
  @include layout-at(9, $landscape) {
    @include aspect-ratio(16, 3);
    height: auto;

    @include grid-span(9);
    max-height: 314px;
    float: none;
    overflow: hidden;

    &-content {
      @include grid-span(7, 2);
      @include add-grid(18);
      max-width: 1312px;
      margin: auto;
      margin-top: 20px;

      &-texts {
        @include grid-span(10, 6);

        &-serie {
          @include displayVisuallyHidden;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          margin-top: 3%;
        }

        &-title {
          letter-spacing: 1px;
          margin-top: 0;
        }

        &-description {
          @include displayVisuallyHidden;
          line-height: 22px;
          margin-top: 0;
        }

        &-seriesCount {
          @include displayVisuallyHidden;
          color: $COOLGRAY_COLOR;
          margin-top: 0;
        }   
      }

      &-texts.no-picture {
        @include grid-span(10);
      } 

      &-picture {
        @include displayVisuallyHidden;
        @include grid-span(4);
        padding-left: 20px;
        border-radius: 50%;
        height: 92%;
      }
    }
  }

  @include layout-at(18, $desktop) {

    &-content {
      width: auto;

      &-texts {
        @include grid-span(11, 8);
      }

      &-texts.no-picture {
        @include grid-span(11, 3);
      }

      &-picture {
        @include grid-span(4, 3);
      }
    }
  }
}