.hero {

  @extend %clearfix;  
  background: $BLOGS_DARK_COLOR;
  height: 100px;

  &-content {
    width: 100%;
    color: $WHITE_COLOR;

    &-serie, &-description, &-seriesCount {
      @include visuallyHidden;
    }

    &-title {
      @include Kievit-Regular;
      margin-left: 18px;
      text-transform: capitalize;
      font-size: 28px;
      margin-top: 35px;

      .nypl-icon-wedge-down {
        @include visuallyHidden;
        font-weight: bold;
      }
    }
  }

  @include layout-at(9, $portrait) {

    &-content {

      &-title {
        margin-left: 45px;
      }
    }
  }
  
  @include layout-at(9, $landscape) {
    @include aspect-ratio(16, 3);
    height: auto;

    @include grid-span(9);
    max-height: 314px;
    float: none;
    overflow: hidden;

    &-content {
      @include grid-span(7, 2);
      max-width: 1312px;
      margin: auto;
      margin-top: 20px;

      &-serie {
        @include displayVisuallyHidden;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        margin-top: 3%;
        margin-left: 20px;
      }

      &-title {
        letter-spacing: 1px;
        margin-left: 20px;
        margin-top: 0;
      }

      &-description {
        @include displayVisuallyHidden;
        line-height: 22px;
        margin-left: 20px;
        margin-top: 0;
      }

      &-seriesCount {
        @include displayVisuallyHidden;
        color: $COOLGRAY_COLOR;
        margin-left: 20px;
        margin-top: 0;
      }   
    }
  }

  @include layout-at(45, $desktop) {

    &-content {
      width: auto;

      &-serie {
        @include grid-span(26, 7);
        margin-top: 3%;
      }

      &-title {
        @include grid-span(26, 7);
        margin-top: 5%;
      }

      &-description {
        @include grid-span(26, 7);
        margin-top: 8%;
      }

      &-seriesCount {
       @include grid-span(26, 7); 
        margin-top: 11%;
      }
    }
  }
}