.loadMoreButton {

  &-btn {
    background: transparent;
    border: 2px solid $SECONDARY_UI_COLOR;
    border-radius: 23px;
    clear: both;
    color: $SECONDARY_UI_COLOR;
    display: block;
    font-size: 16px;
    height: 44px;
    line-height: 1.5em;
    margin-top: 20px;
    margin: 20px auto;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 188px;


    & > span {
      @include Kievit-Medium;
      font-weight: 400;
      position: absolute;
      top: 9px;
      right: 23px;
    }

    .svgIcon {
      fill: $SECONDARY_UI_COLOR;
      position: absolute;
      top: -4px;
      left: 18px;
    }
  }
}
