.readMoreButton {
  text-decoration: none;
  text-transform: uppercase;
  color: $SECONDARY_UI_COLOR;
  border: 2px solid $SECONDARY_UI_COLOR;
  border-radius: 22px;
  font-size: 16px;
  display: block;
  width: 158px;
  height: 38px;
  position: relative;
  margin-top: 20px;
  line-height: 1.5em;

  & > span {
    @include Kievit-Medium;
    font-weight: 400;
    position: absolute;
    top: 8px;
    right: 18px;
  }

  .svgIcon {
    fill: $SECONDARY_UI_COLOR;
    position: absolute;
    top: 6px;
    left: 18px;
  }
}
