/*
Import utils and fonts
*/
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/colors';
@import 'utils/utils';
@import 'utils/fonts';
@import "utils/skipnav";

/*
Import singularity and breakpoints
*/
@import "~singularitygs/stylesheets/singularitygs";
@import "~breakpoint-sass/stylesheets/breakpoint";

/*
Import Normalize
*/
@import "utils/normalize";

/*
Import style rules from NYPL React module components
*/
@import "~dgx-header-component/dist/styles/main";
@import "~dgx-react-footer/dist/styles/styles.scss";

/*
Import components styling
*/
@import "components/_BlogsWrapper";
@import "components/_BlogRow";
@import "components/_BlogAuthor";
@import "components/_BlogAuthorCard";
@import "components/_BlogListing";
@import "components/_BlogListingHero";
@import "components/_BlogsLandingPage";
@import "components/_BlogSubjects";
@import "components/_BlogPage";
@import "components/_Blog";
@import "components/_HeroSinglePost";
@import "components/_Hero";
@import "components/_ReadMoreButton";
@import "components/_LoadMoreButton";
@import "components/_NotFoundAlert";
@import "components/_LoadingLayer";
@import "components/_LoadingDots";

#app {
  margin: 0;
  @include Kievit-Regular;

  #nyplHeader {
  	position: relative;
  	z-index: 1005;
  }
}
